# ==========================================
# Python Cache
# ==========================================

__pycache__/
*.py[cod]
*$py.class

# ==========================================
# Virtual Environment
# ==========================================

venv/
.venv/
env/

# ==========================================
# VS Code
# ==========================================

.vscode/

# ==========================================
# OS Files
# ==========================================

.DS_Store
Thumbs.db
desktop.ini

# ==========================================
# Python Build Files
# ==========================================

build/
dist/
*.egg-info/

# ==========================================
# Logs
# ==========================================

*.log